$color-primary: #F1CDB3;
$color-primary-lighter: #FDDCC4;
$color-dark-background: #211F20;
$color-light-background: #F6F6F6; 
$color-text-light: #FFFFFF;
$color-text-active:#FAFAFA;
$color-link: $color-primary;
$color-link-dark: #545454;
$color-text-dark: #545454;
$color-text-dark-hover: #292929;
$color-border: $color-primary;
$color-icon: $color-primary;
$color-button-normal: $color-primary;
$color-button-hover: $color-primary-lighter;
$color-text-button: #292929;
$color-inactive: #CDCDCD;
$color-paragraph: #4C4C4C;
$color-cards: #FAFAFA;
$color-plain: #B2B2B2;

$content-super-width: 1500px;
$content-width: 1280px;
$big-tablet-width: 1170px;
$tablet-width: 900px;
$mobile-big-width: 759px;
$mobile-small-width: 483px;

$popup-width: 900px;
$dialog-border-radius: 9px;
